.messageLine {
    display: flex;
    margin-bottom: 10px;
}

.messageItem {
    display: flex;
    flex-direction: column;
    padding: 3px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 1px 1px #CCC;
    max-width: 90%;
}

.message {
    font-size: 14px;
    margin: 5x 40px 5px 5px;
}

.time {
    font-size: 11px;
    color: #999;
    margin-right: 5px;
    text-align: right;
    height: 15px;
    margin-top: 0px;
}